{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>My Travel Map</title>
    <link rel="stylesheet" href="{% static 'locations/style.css' %}">
    <link 
    rel="stylesheet" 
    href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    >
</head>

<body>

    <h1> My Travel Map</h1>

    <button id="location-btn"> My Current Location</button>

    <div>
        <input id="location-name" type="text" placeholder="Location Name">

        <input id="country" type="text" placeholder="Country">

        <input id="city" type="text" placeholder="City">

        <input id="visit-date" type="date">

        <textarea id="notes" placeholder="Notes"></textarea>

        <button id="save-location-btn">Save Location</button>
    </div>

    <div id="map"></div>

    <script 
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    >
    </script>

    <script src="{% static 'locations/map.js' %}"></script>

</body>
</html>